/* colors */
header, footer {
    background-color: #FCD0A1;
}

/* Headers and navbars */

nav li {
    list-style-type: none;
}

h4, header, footer, .page-description {
    padding-top: 15px;
}

a {
    text-decoration: none;
}

.btn-outline-success {
    margin-top: 15px;
}