/* colors */
header, footer {
    background-color: #FCD0A1;
}

.card-details {
    color: #437E25;
}

/* Headers, footer and main navbars */

nav li {
    list-style-type: none;
}

h4, header, footer, .page-description {
    padding-top: 15px;
}

a {
    text-decoration: none;
}

.btn-outline-success, footer {
    margin-top: 15px;
}

/* Recipe preview cards*/

.card {
    margin-bottom: 15px;
    min-height: 40vh;
}

.card {
    height: 50vh;
}

/* Content block */

.content {
    min-height: calc(100vh-200px);
}