/* colors */
header, footer {
    background-color: #FCD0A1;
}

.card-details {
    color: #437E25;
}

.main-container {
    background-color: #A1CDFC;
}

.main-container .card {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Headers, footer and main navbars */

nav li {
    list-style-type: none;
}

h4, header, footer, .page-description {
    padding-top: 15px;
}

a {
    text-decoration: none;
}

.btn-outline-success, footer {
    margin-top: 15px;
}

/* Recipe preview cards*/

.card {
    margin-bottom: 15px;
    height: 40vh;
}

.cards-row {
    margin-top: 15px;
}

/* recipe view page */

.main-container .card {
    margin: 15px;
}

/* Content block */

.content {
    min-height: calc(100vh-200px);
}