{% extends "base.html" %}

{% block subheader%} 
    A place to browse recipes.
{% endblock %}

{% block description %}
    {% if session.user %}
        Can't find anything? Add your own recipe!
        <br>
        <a href="{{ url_for('create_recipe') }}" class="btn btn-outline-success">Create Recipe</a>
    {% endif %}
{% endblock %}

{% block content%}

    <div class="container">
        <!--nav header for browsing recipes-->
        <form class="row row-cols-md-3 row-cols-1 text-center p-2 border border-2" action="{{ url_for('search_recipe') }}" method="POST">
            <div class="col align-self-end p-2">
                <label for="category_select">What do you want to eat?</label>
                <!--select dropdown for food types-->
                <select class="form-select w-50 mx-auto" id="category_select" name="category_select" aria-label="Dropdown menu for categories options">
                    <option value="all-types">All food types</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="dessert">Dessert</option>
                    {% if session.user %}
                        <option value="my_recipes">My Recipes</option>
                    {% endif %}
                </select>
            </div>
            <div class="col align-self-end p-2">
                <label for="ingredient_search">Search by an ingredient or title</label>
                <div class="input-group w-50 mx-auto">
                    <input type="text" id="ingredient_search" name="ingredient_search" class="form-control">
                </div>
            </div>
            <div class="col align-self-end p-2">
                <button class="btn btn-success w-50 mx-auto" type="submit">Search</button>
            </div>
        </form>
        <!--recipe overview cards.-->
        {% if recipes %} 
            <div class="row row-cols-md-3 row-cols-1 text-center cards-row">
                <!--loops through each document in the recipes db collection and gives the different 
                    card sections the info needed. When there are no cards to be shown, an error message pops up-->
                {% for recipe in recipes %}
                    <div class="col">
                        <div class="card overflow-hidden">
                            <div class="card-header border-3">
                                <!--if the recipe shown is created by the user in session an edit 
                                    recipe icon will link to edit-recipe function-->
                                {% if session.user == recipe.created_by %}
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" 
                                    class="fas fa-pen-square fa-2x btn float-end text-info"></a>
                                {% endif %}
                                <!--card title is clickable and leads to view-recipe page-->
                                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                                    <h4>{{ recipe.title }} </h4>
                                    <h6 class="card-details">
                                        <i class="far fa-clock"> {{ recipe.time_required }}</i>
                                        <br>
                                        <i class="fas fa-utensils"> {{ recipe.portions_amount }}</i>
                                    </h6>
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ recipe.how_to|join(" - ") }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %} 
            <!--if no search results are found-->
            <div class="col text-danger text-center m-2 p-1">
                <h5>Nothing could be found!</h5>
                <i class="far fa-frown fa-2x"></i>
            </div>
        {% endif %} 
    </div>

{% endblock %}