{% extends "base.html" %}

{% block subheader%}
A place to create recipes.
{% endblock %}

{% block description%}
Too Lazy?
<br>
<a href="{{ url_for('browse_recipes') }}" class="btn btn-outline-success">Browse Recipes</a>
{% endblock %}

{% block content%}

<div class="container main-container text-center">
    <!--TODO: when submitting the form, send all the info to the databases-->
    <form class="row row-cols-md-2 row-cols-1 p-3" action="{{ url_for('create_recipe') }}" method="POST">
        <div class="col">
            <!--title-->
            <h5>Recipe Details</h5>
            <div class="form-floating m-3">
                {% if title %}
                    <input class="form-control" id="title" name="title" type="text" placeholder="Title" value="{{ title }}">
                {% else %}
                    <input class="form-control" id="title" name="title" type="text" placeholder="Title" value="">  
                {% endif %}
                <label for="title">Insert catchy title here</label>
            </div>
            <!--time required-->
            <div class="form-floating m-3">
                {% if time_required %}
                    <input class="form-control" id="time_required" name="time_required" type="text"
                        placeholder="Time Required" value="{{ time_required }}">
                {% else %}
                    <input class="form-control" id="time_required" name="time_required" type="text"
                        placeholder="Time Required" value="">
                {% endif %}        
                <label for="time_required">Time Required</label>
            </div>
            <!--food categories-->
            <div class="form-floating m-3">
                <select class="form-select" id="food_category" name="food_category" type="text">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="dessert">Dessert</option>
                </select>
                <label for="food_category">Food Categories</label>
            </div>
            <!--portions-->
            <div class="form-floating m-3">
                {% if portions_amount %}
                    <input class="form-control" id="portions_amount" name="portions_amount" type="number" 
                    placeholder="Portions" value="{{ portions_amount }}">
                {% else %}
                    <input class="form-control" id="portions_amount" name="portions_amount" type="number" 
                    placeholder="Portions">
                {% endif %}
                <label for="portions_amount">Portions</label>
            </div>
        </div>
        <!--add ingredients section-->
        <div class="col">
            <h5>Ingredients</h5>
            <div class="form-floating m-3">
                <input class="form-control" id="ingredients_amount" name="ingredients_amount" type="text" 
                placeholder="Ingredients">
                <label for="ingredients_amount">One ingredient at a time</label>
            </div>
            <button class="btn btn-info" type="submit" value="add_ingredient" formaction="{{ url_for('ingredient_input') }}">
                Add Ingredient
                <i class="fas fa-arrow-down"></i>
            </button>
            <br>
            <!--how to sections card-->
            <div class="card create-recipe-card">
                <ul>
                    <!--TODO: 1. change the for loop to exxtract the index of each ingredient in the ingredients_amount list.
                         2. set an action on the trash can button that redirects to a function that will pop 
                        the list item selected.-->
                    {% for ingredient in ingredients_amount %}
                        <li class="p-1 text-start">
                            {{ ingredient }}
                            <button class="fas fa-trash-alt float-end text-danger btn" method="POST" formaction="{{ url_for('delete_ingredient', index=loop.index0) }}"></button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--how to section-->
        <div class="col col-md-12">
            <h5>How To</h5>
            <div class="form-floating m-3 how-to-form">
                <textarea class="form-control" name="how_to" id="how_to"></textarea>
                <label for="how_to">First add step one, then step two...</label>
            </div>
            <button class="btn btn-info" type="submit" value="add_step" formaction="{{ url_for('steps_input') }}">
                Add Step
                <i class="fas fa-arrow-down"></i>
            </button>
            <br>
            <div class="card create-recipe-card">
                <ol>
                    <!--TODO: need to remove the list and array item when clicking on the trash can -->
                    {% for section in how_to %}
                        <li class="p-1 text-start mt-2">
                            {{ section }}
                            <button class="fas fa-trash-alt float-end text-danger btn" method="POST" formaction="{{ url_for('delete_section', index=loop.index0) }}"></button>
                        </li>
                    {% endfor %}    
                </ol>
            </div>
        </div>
        <!--Submit button-->
        <div class="col-md-12 col-lg-12 mb-3">
            <button class="btn btn-success btn-lg" type="submit" value="create_recipe">Create Recipe</button>
        </div>
        <br>
        <!--clear form button-->
        <div class="col-md-12 col-lg-12">
            <button class="btn btn-warning btn-sm" type="reset" value="reset">Clear Form</button>
        </div>
    </form>
</div>

{% endblock %}