{% extends "base.html" %}

{% block subheader%} 
    A place to log in.
{% endblock %}

{% block description%} 
    Don't have an account?
    <br>
    <a href="{{ url_for('register') }}" class="btn btn-outline-success">Register</a>
{% endblock %}

{% block content%}

<div class="container">
    <div class="row main-container form-container w-50 mx-auto">
        <form action="{{ url_for('login') }}" method="POST">
            <div class="col">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" minlength="2" maxlength="15"
                    pattern="^[a-zA-Z0-9]{2,15}$" placeholder="2 - 15 characters" required>
            </div>
            <div class="col">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" minlength="8" maxlength="15"
                    pattern="^[a-zA-Z0-9]{8,15}$" placeholder="8 - 15 characters" required>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-info">Log In</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}