{% extends "base.html" %}

{% block subheader%}
    {{ recipe.title }}
{% endblock %}

{% block content%}

<div class="container">
    <div class="row row-cols-md-3 row-cols-1 text-center p-2">
        <!--Time, portions and categories-->
        <div class="col">
            <h6>Food Types: </h6>
            <p>{{ recipe.food_category }} </p>
        </div>
        <div class="col">
            <h6>Portions: </h6>
            <p>{{ recipe.portions_amount }}</p>
        </div>
        <div class="col">
            <h6>Time Required: </h6>
            <p>{{ recipe.time_required }}</p>
        </div>
    </div>
</div>

<div class="container main-container text-center">
    <div class="row row-cols-md-2 row-cols-1">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6>Ingredients</h6>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled text-start">
                        <!--function that goes through the "ingredients_amount" 
                            array and generates a new list item per ingredient-->
                        {% for ingredient in recipe.ingredients_amount %}
                        <li>
                            <input class="form-check-input" type="checkbox"
                                aria-label="Checkbox for ingredients being ticked off when used">
                            {{ ingredient }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h6>How To</h6>
                </div>
                <div class="card-body text-start">
                    <ol>
                        {% for section in recipe.how_to %}
                            <li class="mb-3">{{ section }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}